@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

.ck-editor {
    width: 95% !important;
    height: 95% !important;

    border: 1px solid #c6cbde !important;

    box-shadow: var(--clr-blue1) 0px 2px 8px 0px;

    border-radius: 0.6rem;
    overflow: hidden;
    
    font-size: 1.2rem;
}

.ck-editor * {
    border: none !important;
    z-index: 1 !important;
}

.ck-editor__top {
    height: 7% !important;
}


.ck-editor__main {
    height: 93% !important;
    line-height: 22px !important;
    word-spacing: 1px;
}

.ck-editor__editable {
    border-top: 1px solid rgba(26, 33, 52, .11) !important;
    height: 100%;
}

.ck-balloon-panel {
    display: none !important;
    /*to hide the "Powered by CKEditor" ad button*/
}

.submitButtonWrapper {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 2rem;
    margin-right: 3rem;
}

.application-button {
    padding: 0.5rem 1rem;

    border-radius: 5px;

    background-color: var(--clr-blue1);
    border: 1px solid var(--clr-blue2);

    color: var(--clr-blue2);

    font-weight: 600;

    box-shadow: var(--clr-blue1) 0px 3px 8px;

    cursor: pointer;
}

.application-button:hover {
    background-color: var(--clr-blue2);
    border: 1px solid var(--clr-blue1);
    color: var(--clr-blue1);
}

.application-button:active {
    background-color: var(--clr-blue1);
    color: var(--clr-blue2);
    border: 1px solid var(--clr-blue2);
}