#home {
    font-family: Poppins, sans-serif;

    display: flex;
    flex-wrap: wrap;

    height: 100vh;
    width: 100vw;

    overflow: hidden;

    background-color: var(--clr-dark-bg);
}

.home-wrapper {
    display: flex;

    width: 100%;
    overflow: hidden;
}
.MuiDrawer-paper {
    padding: 1.5rem 1rem !important;
    background-color: var(--clr-dark-bg) !important;
}

.analyzer-wrapper {
    display: flex;

    flex-wrap: wrap;

    background-color: white;

    width: 100%;
    height: 100%;

    border-radius: 0.5rem;
}

#editor-wrapper {
    width: 70%;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#statistics-wrapper {
    width: 30%;
}

.home-wrapper > header {
    display: none;
}

@media (max-width: 1250px) {
    #editor-wrapper {
        width: 60%;
    }

    #statistics-wrapper {
        width: 40%;
    }
}

@media (max-width: 1050px) {
    .MuiBox2 {
        padding: 0.5rem !important;
    }

    #editor-wrapper,
    #statistics-wrapper {
        width: 100%;
    }
    
    #editor-wrapper {
        height: 50%;
    }
    
    #statistics-wrapper {
        height: 50%;
    }
}

@media (max-width: 900px) {
    .home-wrapper > header {
        display: block;
        width: 100% !important;
    }

    .analyzer-wrapper {
        margin-top: 4rem;
        height: calc(100% - 4rem);
    }
    
}