*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
}

:root {
  --clr-blue1: #EDF5FF;
  --clr-blue2: #4A6EE0;
  --clr-blue3: #90bef3b9;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}

/* Utility classes */

.heading {
  font-size: 1.8rem;
  font-weight: 700;
}