@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
}

:root {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;


  /* colors */

  --clr-grey: hsla(0, 0%, 100%, .507);

  --clr-application-main: dodgerblue;
  --clr-application-main2: rgb(57, 135, 212);
  --clr-application-main-blur: rgba(30, 143, 255, 0.528);
  --clr-application-black: #141718;

  /* light mode themes */
  --clr-light-bg: white;
  --clr-light-theme: dodgerblue;

  /* dark mode themes */
  --clr-dark-bg: #1b2224;
}

body {
  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--clr-light-bg);
}

*::selection {
  background-color: var(--clr-light-theme);
  color: white;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button {
  /* border: none; */
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.application-button {
  border-radius: 5px;
  
  padding: 0.5rem 0.3rem;

  background-color: dodgerblue;
  color: white;
}

.application-button:hover {
  background-color: rgb(3, 109, 215);
  color: white;
}

.hide,
.hide>* {
    display: none;
}

.heading {
  color: inherit;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.color-application {
  color: var(--clr-dark-bg) !important;
}